
  .red-text {
    color: red;
 body {
		  background-color:gray;
		  color:black;
	  }
}

  h2 {
    font-family: Lobster, monospace;
  }
h5 {
	font-size:300px;
}
  p {
    font-size: 16px;
    font-family: monospace;
  }

  .thick-black-border {
    border-color: black;
    border-width: 10px;
    border-style: solid;
    
  }

head {
	font-size: 200px;
	font-weight: bold;
		}

  .silver-background {
    background-color: silver;
  }
